# Preliminary Results

## Load Libraries

In [7]:
library(tidyverse)
library(repr)
library(digest)
library(infer)
library(gridExtra)
suppressWarnings(library(cowplot))

## Data Intake and Pre-Processing

<mark>TODO</mark>: insert some text to explain what we are doing

In [8]:
data <- read.csv(file = "data/athlete_events.csv")

In [9]:
processed_df <- data[order(data$Year),]  %>% 
    filter(!is.na(Age)) # get rid of NA/Age
    # we should get rid of anyone who didn't win a medal either - does NA in the medal mean they didn't win or they don't know
    # also, let's decide if we care about bronze/silver as opposed to just looking at gold

first_time_only <- processed_df[match(unique(processed_df$ID), processed_df$ID),] # only first time winners now, if they won a second time, it was excluded
# I think this works, someone check though
    
winter_df <- first_time_only %>% 
    filter(Season == "Winter")

summer_df <- first_time_only %>% 
    filter(Season == "Summer")

head(first_time_only)
head(winter_df)
head(summer_df)

   ID    Name                        Sex Age Height Weight Team          NOC
1  12068 Arthur Charles Blake        M   24   NA    NA     United States USA
3  12563 Conrad Helmut Fritz Bcker   M   25   NA    NA     Germany       GER
10 12929 John Mary Pius Boland       M   25   NA    NA     Great Britain GBR
12 16616 Thomas Edmund "Tom" Burke   M   21  183    66     United States USA
14 17492 Eugne Henri Callot          M   20   NA    NA     France        FRA
15 18785 Demetrius Emmanuel Casdagli M   23   NA    NA     Greece        GRE
   Games       Year Season City   Sport      Event
1  1896 Summer 1896 Summer Athina Athletics  Athletics Men's 1,500 metres
3  1896 Summer 1896 Summer Athina Gymnastics Gymnastics Men's Horse Vault
10 1896 Summer 1896 Summer Athina Tennis     Tennis Men's Singles
12 1896 Summer 1896 Summer Athina Athletics  Athletics Men's 100 metres
14 1896 Summer 1896 Summer Athina Fencing    Fencing Men's Foil, Individual
15 1896 Summer 1896 Summer Athina Tennis     Tennis Men's Singles
   Medal
1  Silver
3  NA
10 Gold
12 Gold
14 Silver
15 Silver

  ID   Name                          Sex Age Height Weight Team           NOC
1  391 Clarence John Abel            M   23  185    102    United States  USA
2  992 Josef Adolf                   M   25   NA     NA    Czechoslovakia TCH
3 1077 Xavier Affentranger           M   26   NA     NA    Switzerland    SUI
4 1341 Johan Petter hln (Andersson-) M   44   NA     NA    Sweden         SWE
5 2329 Louis Albert                  M   25   NA     NA    France         FRA
6 2431 Henri Eugne Aldebert          M   43   NA     NA    France-1       FRA
  Games       Year Season City     Sport
1 1924 Winter 1924 Winter Chamonix Ice Hockey
2 1924 Winter 1924 Winter Chamonix Nordic Combined
3 1924 Winter 1924 Winter Chamonix Ski Jumping
4 1924 Winter 1924 Winter Chamonix Curling
5 1924 Winter 1924 Winter Chamonix Ski Jumping
6 1924 Winter 1924 Winter Chamonix Bobsleigh
  Event                                     Medal
1 Ice Hockey Men's Ice Hockey               Silver
2 Nordic Combined Men's Individual          NA
3 Ski Jumping Men's Normal Hill, Individual NA
4 Curling Men's Curling                     Silver
5 Ski Jumping Men's Normal Hill, Individual NA
6 Bobsleigh Men's Four/Five                 NA

  ID    Name                        Sex Age Height Weight Team          NOC
1 12068 Arthur Charles Blake        M   24   NA    NA     United States USA
2 12563 Conrad Helmut Fritz Bcker   M   25   NA    NA     Germany       GER
3 12929 John Mary Pius Boland       M   25   NA    NA     Great Britain GBR
4 16616 Thomas Edmund "Tom" Burke   M   21  183    66     United States USA
5 17492 Eugne Henri Callot          M   20   NA    NA     France        FRA
6 18785 Demetrius Emmanuel Casdagli M   23   NA    NA     Greece        GRE
  Games       Year Season City   Sport      Event
1 1896 Summer 1896 Summer Athina Athletics  Athletics Men's 1,500 metres
2 1896 Summer 1896 Summer Athina Gymnastics Gymnastics Men's Horse Vault
3 1896 Summer 1896 Summer Athina Tennis     Tennis Men's Singles
4 1896 Summer 1896 Summer Athina Athletics  Athletics Men's 100 metres
5 1896 Summer 1896 Summer Athina Fencing    Fencing Men's Foil, Individual
6 1896 Summer 1896 Summer Athina Tennis     Tennis Men's Singles
  Medal
1 Silver
2 NA
3 Gold
4 Gold
5 Silver
6 Silver