# Preliminary Results

## Load Libraries

In [7]:
library(tidyverse)
library(repr)
library(digest)
library(infer)
library(gridExtra)
suppressWarnings(library(cowplot))

## Data Intake and Pre-Processing

<mark>TODO</mark>: insert some text to explain what we are doing

In [8]:
data <- read.csv(file = "data/athlete_events.csv")

In [12]:
processed_df <- data[order(data$Year),]  %>% 
    filter(!is.na(Age)) %>% # get rid of NA/Age
    filter(!is.na(Medal))
    # we should get rid of anyone who didn't win a medal either - does NA in the medal mean they didn't win or they don't know
    # also, let's decide if we care about bronze/silver as opposed to just looking at gold

first_time_only <- processed_df[match(unique(processed_df$ID), processed_df$ID),] # only first time winners now, if they won a second time, it was excluded
# I think this works, someone check though
    
winter_df <- first_time_only %>% 
    filter(Season == "Winter")

summer_df <- first_time_only %>% 
    filter(Season == "Summer")

head(first_time_only)
head(winter_df)
head(summer_df)

  ID    Name                        Sex Age Height Weight Team          NOC
1 12068 Arthur Charles Blake        M   24   NA    NA     United States USA
2 12563 Conrad Helmut Fritz Bcker   M   25   NA    NA     Germany       GER
4 12929 John Mary Pius Boland       M   25   NA    NA     Great Britain GBR
6 16616 Thomas Edmund "Tom" Burke   M   21  183    66     United States USA
8 17492 Eugne Henri Callot          M   20   NA    NA     France        FRA
9 18785 Demetrius Emmanuel Casdagli M   23   NA    NA     Greece        GRE
  Games       Year Season City   Sport
1 1896 Summer 1896 Summer Athina Athletics
2 1896 Summer 1896 Summer Athina Gymnastics
4 1896 Summer 1896 Summer Athina Tennis
6 1896 Summer 1896 Summer Athina Athletics
8 1896 Summer 1896 Summer Athina Fencing
9 1896 Summer 1896 Summer Athina Tennis
  Event                                 Medal
1 Athletics Men's 1,500 metres          Silver
2 Gymnastics Men's Parallel Bars, Teams Gold
4 Tennis Men's Singles                  Gold
6 Athletics Men's 100 metres            Gold
8 Fencing Men's Foil, Individual        Silver
9 Tennis Men's Singles                  Silver

  ID   Name                          Sex Age Height Weight Team            NOC
1  391 Clarence John Abel            M   23  185    102    United States   USA
2 1341 Johan Petter hln (Andersson-) M   44   NA     NA    Sweden          SWE
3 3872 William Harding Anderson      M   22   NA     NA    Great Britain   GBR
4 4060 Georges Jules Andr            M   47   NA     NA    France          FRA
5 5232 Thomas Alfred Arnold          M   22   NA     NA    Great Britain-1 GBR
6 5932 Alfred Aufdenblatten          M   26   NA     NA    Switzerland     SUI
  Games       Year Season City     Sport
1 1924 Winter 1924 Winter Chamonix Ice Hockey
2 1924 Winter 1924 Winter Chamonix Curling
3 1924 Winter 1924 Winter Chamonix Ice Hockey
4 1924 Winter 1924 Winter Chamonix Curling
5 1924 Winter 1924 Winter Chamonix Bobsleigh
6 1924 Winter 1924 Winter Chamonix Military Ski Patrol
  Event                                         Medal
1 Ice Hockey Men's Ice Hockey                   Silver
2 Curling Men's Curling                         Silver
3 Ice Hockey Men's Ice Hockey                   Bronze
4 Curling Men's Curling                         Bronze
5 Bobsleigh Men's Four/Five                     Silver
6 Military Ski Patrol Men's Military Ski Patrol Gold

  ID    Name                        Sex Age Height Weight Team          NOC
1 12068 Arthur Charles Blake        M   24   NA    NA     United States USA
2 12563 Conrad Helmut Fritz Bcker   M   25   NA    NA     Germany       GER
3 12929 John Mary Pius Boland       M   25   NA    NA     Great Britain GBR
4 16616 Thomas Edmund "Tom" Burke   M   21  183    66     United States USA
5 17492 Eugne Henri Callot          M   20   NA    NA     France        FRA
6 18785 Demetrius Emmanuel Casdagli M   23   NA    NA     Greece        GRE
  Games       Year Season City   Sport
1 1896 Summer 1896 Summer Athina Athletics
2 1896 Summer 1896 Summer Athina Gymnastics
3 1896 Summer 1896 Summer Athina Tennis
4 1896 Summer 1896 Summer Athina Athletics
5 1896 Summer 1896 Summer Athina Fencing
6 1896 Summer 1896 Summer Athina Tennis
  Event                                 Medal
1 Athletics Men's 1,500 metres          Silver
2 Gymnastics Men's Parallel Bars, Teams Gold
3 Tennis Men's Singles                  Gold
4 Athletics Men's 100 metres            Gold
5 Fencing Men's Foil, Individual        Silver
6 Tennis Men's Singles                  Silver